body{
	background-color:#bbb;
	font:16px/25px arial, tahoma, sans-serif;
}
#container {
	display: block;
max-width: 88%; 
margin: 0 auto;
position: relative;
 }
#header {
	display: block;
height:70%;
min-width:98.2%;
background: rgba(251,173,167,1);
background: -moz-linear-gradient(left, rgba(251,173,167,1) 0%, rgba(255,131,122,1) 19%, rgba(253,146,134,1) 43%, rgba(253,146,134,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(251,173,167,1)), color-stop(19%, rgba(255,131,122,1)), color-stop(43%, rgba(253,146,134,1)), color-stop(100%, rgba(253,146,134,1)));
background: -webkit-linear-gradient(left, rgba(251,173,167,1) 0%, rgba(255,131,122,1) 19%, rgba(253,146,134,1) 43%, rgba(253,146,134,1) 100%);
background: -o-linear-gradient(left, rgba(251,173,167,1) 0%, rgba(255,131,122,1) 19%, rgba(253,146,134,1) 43%, rgba(253,146,134,1) 100%);
background: -ms-linear-gradient(left, rgba(251,173,167,1) 0%, rgba(255,131,122,1) 19%, rgba(253,146,134,1) 43%, rgba(253,146,134,1) 100%);
background: linear-gradient(to right, rgba(251,173,167,1) 0%, rgba(255,131,122,1) 19%, rgba(253,146,134,1) 43%, rgba(253,146,134,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbada7', endColorstr='#fd9286', GradientType=1 );
font-size: 20pt; 
color: #edeed5;
padding: 15px; 


}
#header  h1{
	display: block;
	font-size:38px;
	font-weight:bild;
	text-align:center;
	padding:20px;
	text-indent:50px;
}
#content {
	display: block;
width: 98.7%; 
height:auto;
margin-right: 140px; 
padding: 10px;
background: #fff; 
 }
   #footer {
	  font-size:20px;
	 text-align:center;
    background: rgba(147,206,222,1);
background: -moz-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 56%, rgba(73,165,191,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(147,206,222,1)), color-stop(56%, rgba(117,189,209,1)), color-stop(100%, rgba(73,165,191,1)));
background: -webkit-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 56%, rgba(73,165,191,1) 100%);
background: -o-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 56%, rgba(73,165,191,1) 100%);
background: -ms-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 56%, rgba(73,165,191,1) 100%);
background: linear-gradient(to right, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 56%, rgba(73,165,191,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=1 );
    color: #fff;
    padding: 20px;
    
   }
 /*Основы*/  
 .images_boy{

	  display: block;
	 margin:0 auto;
	text-align:center;
 }
  h2{
	  display: block;
  padding-left:20%;
  font-size:24px;  
   padding-top:10px;
  }
  p{
	  display: block;
	  padding:10px;
	  margin:10px;
	  padding-left:20%;
	  font-size:20px;
	  width:68%;
  }
.img{
	display: block;
	 margin:20px auto;
	padding-left:32%;
}
#one_itly{
	font-style:italic;
	padding-left:38%;
	color:#696969;
}
video{
	text-align:center;
	  display: block;
	margin:10px auto;
	
}
#one_itly1{
	display: block;
	font-style:italic;
	padding-left:41%;
	color:#696969;
}
#one_itly2{
	display: block;
	font-size:18px;
	font-style:italic;
	padding-left:34%;
	color:#696969;
}
   /*Μενώ*/
div.topmenu{
display:flex;
position: relative; 
font-size:18px;
margin: -20px auto;
	height:80px;
	text-align:center;
	width: 380px; 
    padding:5px;
	line-height:70px;
}
div.topmenu a{
	text-decoration:none;
	margin: 0 0 0 10px;
    color:#6717E8;
}
div.topmenu a:hover{
color:#fff;		
}
 div.clear{
	clear:both;
}